.sidenav {
	height: 100%;
	width: 300px;
	z-index: 1;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1f0b35;
	overflow-x: hidden;
	transition: 0.5s;
	padding: 30px 10px 60px 0px;
}

.sidenav::-webkit-scrollbar {
	width: 1px;
}

.sidenav.short {
	width: 60px;
	overflow-y: hidden;
}

.sidenav .navheader {
	position: fixed;
	width: inherit;
    top: 0;
    background-color: #110123;
    padding: 8px 0px 8px 20px;
}

.sidenav.short .navheader {
	width: 60px;
	transition: 0.5s;
}

.sidenav .navheader .user-text {
	padding-right: 10px;
	position: absolute;
    top: 0;
    right: 0;
    color: #da9c11;
    opacity: 1;
	visibility: visible;
	transition: opacity 0.2s linear;
}

.sidenav.short .navheader .user-text {
	opacity: 0;
	display: none;
	visibility: hidden;
	transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.sidenav .navfooter {
	position: fixed;
	width: inherit;
    bottom: 20px;
    background-color: #110123;
    padding: 8px 0px 8px 20px;
}

.sidenav.short .navfooter {
	width: 60px;
	transition: 0.5s;
}

.sidenav .navfooter .logout-text {
	position: absolute;
	bottom: 5px;
	padding-left: 5px;
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s linear;
}

.sidenav.short .navfooter .logout-text {
	opacity: 0;
	visibility: hidden;
	display: none;
	transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.sidenav a {
	width: inherit;
	padding: 5px 8px 5px 20px;
	text-decoration: none;
	font-size: 20px;
	color: #bebebe;
	display: block;
	/* transition: 0.3s; */
}

.sidenav a:hover {
	color: #f1f1f1;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 30px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.menu-item {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s linear;
}

.short .menu-item {
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.content {
	height: 100%;
	width: 100%;
	z-index: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding: 10px 10px 20px 70px;
}

#search-panel {
	padding-right: 20px;
	margin-left: 20px;
}
#table-panel {
	padding-right: 20px;
	margin-left: 20px;
}

#search-btn-group {
	text-align: end;
}

table.table-bordered>thead>tr>th {
	border: 1px solid #5a5a5a;
}

table.table-bordered>tbody>tr>td {
	border: 1px solid #5a5a5a;
}

.bootstrap-table .fixed-table-container.fixed-height .table thead th {
	border-bottom: 1px solid #5a5a5a;
}

.bootstrap-table .fixed-table-container.fixed-height {
	border-bottom: 0px !important;
}

table.table-bordered {
	border: 1px solid #5a5a5a;
	margin-top: 20px;
}

.bootstrap-table .fixed-table-pagination {
	margin-top: 19px;
	border-top: 1px solid #5a5a5a;
}

html { 
	--scrollbarBG: #CFD8DC;
	--thumbBG: #9e6d91;
}

::-webkit-scrollbar {
	width: 11px;
}

body {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}

.ui-autocomplete {
     z-index: 9999 !important;
}